/////////////////////////////////
/// VARIABLES
$color-primary: hsl(171, 66%, 44%);
$color-secondary: hsl(233, 100%, 69%);
$color-text: hsl(201, 11%, 66%);
$color-dark-gray: hsl(210, 10%, 33%);
$color-white: hsl(0, 0%, 100%);

$section-space-bottom: 15rem;
$section-space-bottom-mobile: 12rem;

/////////////////////////////////
/// MIXINS
@mixin mobiles {
  @media screen and (max-width: 50em) {
    @content;
  }
}

/////////////////////////////////
/// GENERAL STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: $color-text;
  text-align: center;
}

// containers
.container-big,
.container-medium,
.container-small {
  margin: 0 auto;
}

.container-big {
  max-width: 144rem;

  @include mobiles() {
    max-width: 100%;
    padding: 0 4rem;
  }
}

.container-medium {
  max-width: 120rem;

  @include mobiles() {
    max-width: 100%;
  }
}

.container-small {
  max-width: 70rem;

  @include mobiles() {
    max-width: 100%;
  }
}

// typography
.primary-heading,
.secondary-heading,
.tertiary-heading {
  color: $color-dark-gray;
  font-weight: 600;
  margin-bottom: 2rem;
}

.primary-heading {
  font-size: 4.4rem;

  @include mobiles() {
    font-size: 3rem;
    line-height: 1.2;
  }
}

.secondary-heading {
  font-size: 3.4rem;

  @include mobiles() {
    font-size: 2.6rem;
    line-height: 1.2;
  }
}

.tertiary-heading {
  font-size: 1.8rem;

  @include mobiles() {
    font-size: 2rem;
  }
}

.text {
  font-size: 1.4rem;
  line-height: 1.8;
}

// buttons
.btnbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include mobiles() {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }

  &--btn:link,
  &--btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1.8rem 4rem;
    color: $color-white;
    font-size: 1.8rem;
    border-radius: 100px;
    transition: background-color 0.3s ease-in-out;
  }

  .btn-ios:link,
  .btn-ios:visited {
    background-color: $color-primary;
    box-shadow: 0 1rem 1rem rgba($color-primary, 0.2);
  }

  .btn-ios:hover,
  .btn-ios:active {
    background-color: rgba($color-primary, 0.7);
  }

  .btn-mac:link,
  .btn-mac:visited {
    background-color: $color-secondary;
    box-shadow: 0 1rem 1rem rgba($color-secondary, 0.2);
  }

  .btn-mac:hover,
  .btn-mac:active {
    background-color: rgba($color-secondary, 0.7);
  }
}

/////////////////////////////////
/// HEADER STYLES
.header {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14rem;
  margin-bottom: $section-space-bottom;

  @include mobiles() {
    background-image: url(../images/bg-header-mobile.png);
    background-size: 100%;
    padding-top: 10rem;
    margin-bottom: $section-space-bottom-mobile;
  }

  &--logo {
    margin-bottom: 6rem;

    @include mobiles() {
      height: 10rem;
    }
  }

  .text {
    font-size: 1.6rem;
    margin-bottom: 6rem;

    @include mobiles() {
      font-size: 1.5rem;
      margin-bottom: 4rem;
    }
  }
}
/////////////////////////////////
/// SECTION TRACK STYLES
.section--track {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8rem;
  margin-bottom: $section-space-bottom;

  @include mobiles() {
    row-gap: 5rem;
    margin-bottom: $section-space-bottom-mobile;
  }

  &-box1 {
    .text {
      font-size: 1.4rem;
    }
  }

  &-box2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 12rem;

    @include mobiles() {
      grid-template-columns: 1fr;
      row-gap: 6rem;
    }

    .imgbox {
      margin-left: -3rem;

      @include mobiles() {
        margin: 0;
      }

      .img {
        width: 100%;
      }
    }

    .textbox {
      text-align: left;
      margin-top: -10%;

      @include mobiles() {
        text-align: center;
        margin: 0;
      }

      &--feature {
        &:not(:last-child) {
          margin-bottom: 6rem;

          @include mobiles() {
            margin-bottom: 4rem;
          }
        }

        .tertiary-heading {
          margin-bottom: 1.3rem;
        }

        .text {
          font-size: 1.3rem;

          @include mobiles() {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .container-medium {
    margin: 0;
  }
}

/////////////////////////////////
/// SECTION ACCESS STYLES
.section--access {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8rem;
  margin-bottom: calc($section-space-bottom - 3rem);

  @include mobiles() {
    row-gap: 5rem;
    margin-bottom: calc($section-space-bottom-mobile - 3rem);
  }

  &-textbox {
  }

  &-imgbox {
    .img {
      width: 100%;
    }
  }
}

/////////////////////////////////
/// SECTION WORKFLOW STYLES
.section--workflow {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 6rem;
  margin-bottom: $section-space-bottom;

  @include mobiles() {
    margin-bottom: $section-space-bottom-mobile;
    row-gap: 8rem;
  }

  &-textbox {
  }

  &-tools {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mobiles() {
      flex-direction: column;
      gap: 6rem;
    }

    .tool {
      padding: 0 5rem;
      flex: 1;

      @include mobiles() {
        padding: 0;
      }

      .tool-icon {
        margin-bottom: 4rem;

        @include mobiles() {
          margin-bottom: 3rem;
        }
      }

      .tertiary-heading {
      }

      .text {
      }
    }

    .tool:last-child {
      padding: 0 2rem;
    }
  }
}
/////////////////////////////////
/// SECTION FEATURED STYLES
.section--featured {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: $section-space-bottom;

  @include mobiles() {
    flex-direction: column;
    gap: 5rem;
    margin-bottom: $section-space-bottom-mobile;
  }

  &-logo {
    @include mobiles() {
      height: 3rem;
    }
  }
}

/////////////////////////////////
/// SECTION DOWNLOAD STYLES
.section--download {
  margin-bottom: $section-space-bottom;

  @include mobiles() {
    margin-bottom: $section-space-bottom-mobile;
  }

  &-textbox {
    margin-bottom: 6rem;

    @include mobiles() {
      margin-bottom: 4rem;
    }
  }

  &-btnbox {
  }
}
/////////////////////////////////
/// FOOTER STYLES
.footer {
  text-align: left;
  background-color: rgba($color-text, 0.1);

  @include mobiles() {
    text-align: center;
  }

  &--box {
    padding: 4rem;
    display: flex;
    align-items: center;
    gap: 10rem;

    @include mobiles() {
      flex-direction: column;
      gap: 4rem;
    }

    &-logo {
      height: 4rem;
    }

    &-links {
      display: flex;
      gap: 4rem;

      @include mobiles() {
        flex-direction: column;
        row-gap: 2rem;
      }

      .links {
        list-style: none;

        > *:not(:last-child) {
          margin-bottom: 2rem;
        }

        .link {
          display: inline-block;
          text-decoration: none;
          color: inherit;
          font-size: 1.4rem;
        }
      }
    }

    &-icons {
      margin-left: auto;

      @include mobiles() {
        margin: 0;
      }

      .social-icons {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 3rem;
      }
    }
  }
}
